*{
    box-sizing: border-box;
}

html,body,.container-fluid,.sides{
    height: 100%;
}

.body-login{
    background: linear-gradient(to left top,#D62828,#E6C229);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-color{
    /*background-color:#F77F00;*/
    background: linear-gradient(to bottom,#F77F00,rgb(240, 136, 25));
}
li {
    list-style-type: none;
}

.left-side{
    display: flex;
    flex-flow: column;
    justify-content: center;
/*    background-color: #E6C229;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.right-side{
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 0 0 0;
}

.login-section{
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}


.a-color{
    color:#212529;
}

.cards-section{
    display: flex;
    justify-content:  center;
    flex-flow: row wrap;
}

.card-customization{
    width: 12rem;
}



.question{
    background:white;
    padding: 15px;
    border: 2px solid  rgba(92, 47, 217, 0.9);;
    color:  rgba(92, 47, 217, 0.9);;
    border-radius: 20px 20px 0px 0px;
}

.answers{
    padding-top: 5px;
    border: 2px solid rgba(92, 47, 217, 0.9);
    border-radius:  0px 0px 20px 20px;
    border-top: 0px;
}


.results-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.result-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.score{
    font-size: 5em;
    font-weight: bold;
    font-family: 'Orbitron' ;
}

.user-name{
    font-weight: bold;
    font-family: 'Orbitron' ;
    font-size: 3em;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .left-side{     
        height: 40%;
    }

    .right-side{
        height: 60%; 
    }

    .body-login{
        background: linear-gradient(to  top,#D62828,#E6C229);
        background-repeat: no-repeat;
        background-size: cover;
    }
  }
  
@media screen and (min-width: 768px) {
    .left-side{
        height: 100%;
    }
    .right-side{
       /* background-color:#f77f00;*/
        height: 100%; 
    }
  }