@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

* {
    box-sizing: border-box;
}

html,
body,
.sides {
    height: 100%;
}

.body-color {
    background-color: #F77F00;
    /*background: linear-gradient(to bottom,#F77F00,rgb(240, 136, 25));*/
}

li {
    list-style-type: none;
}

.left-side {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /*    background-color: #E6C229;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.right-side {

    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 0 0 0;
}

.login-section {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}


.a-color {
    color: #212529;
}

.cards-section {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.card-customization {
    width: 12rem;
}

.questions-bg {
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.card {
    width: 700px;
    margin: 20px;
}

.alinear {
    margin-right: 15px;
    position: absolute;
    top: 70px;
    right: 0px;
}

.alinear2 {
    margin-right: 15px;
    position: absolute;
    top: 110px;
    right: 0px;
}

.alinear3 {
    margin-right: 15px;
    position: absolute;
    top: 160px;
    right: 0px;
}
.answers {
    text-align: justify;
}

.center-section {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: calc(80vh - 80px);
}
.mywrap{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}
.center-section-enter {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 50vh);
}


.center-space {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.center-chart {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: calc(80vh - 80px);
}

.score {
    font-size: 5em;
    font-weight: bold;
    font-family: 'Oxanium';
}

.text-font {
    font-weight: bold;
    font-family: 'Oxanium';
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .left-side {
        height: 40%;
    }

    .right-side {
        height: 60%;
    }

    .body-login {
        background: linear-gradient(to top, #D62828, #E6C229);
        height: 100%;
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, #D62828 0%, #E6C229 50%, #D62828 100%);
    }
}

@media screen and (min-width: 768px) {
    .left-side {
        height: 100%;
    }

    .right-side {
        /* background-color:#f77f00;*/
        height: 100%;
    }

    .body-login {
        background: linear-gradient(to left top, #D62828, #E6C229);
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: Roboto, sans-serif;
}

#chart {
    max-width: 650px;
    margin: 35px auto;
}